.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2a363b;
    transition-duration: 250ms;
    color: #ffffff;
    font-size: 20px;
}

.link:hover {
    color: #e84a5f;
}